[user]
    email = <email>
    name = <name surname>
[alias]
    # Remove all ignoring files as well
    rmrfign = clean -fdX
    # Show status compact version
    st = status -s
    # Show status compact version include ignoring files
    stign = status -s --ignored
    # Unstage staged file
    unstage = restore --staged
    # Revert a specific modified file: git undo <file>
    revert = restore
    lg = log --graph --pretty=format:'%C(yellow)%<(9)%h%C(reset) - %C(bold blue)%<(18,trunc)%an%C(reset) %C(green)%<(14)%cr%C(reset) - %s' --abbrev-commit --all
    hist = log --pretty=format:'%h %ad | %s%d [%an]' --graph --date=short
    # Show last 20 commits
    ll = log --oneline --decorate --graph --all -30
    # Show commiter names and count
    who = shortlog -sn --no-merges
    # Difftool
    dt = difftool -y
    # Show edited file list in the specific commit
    ls = diff-tree --no-commit-id -r --name-status
[diff]
    tool = nvimdiff
[merge]
    tool = nvimdiff
[mergetool]
    prompt = false
[difftool "nvimdiff"]
    cmd = nvim -d \"$LOCAL\" \"$REMOTE\"
